body {
  background-color: #eaf5e0;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 20px;
}

#levelId {
  font-size: 1.5em;
  font-weight: bold;
}

#user-level {
  margin: 30px auto;
  max-width: 100%;
}

#annotation {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 500px;
}

#username {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 200px;
}

#submitButton {
  margin-top: 30px;
  padding: 15px 50px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submitButton:hover {
  transform: scale(1.1);
  background-color: #3E8E41;
}

#submitButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.4);
}

img {
  width: 256px;
  height: 256px;
  margin: 50px auto; /* center image */
  display: block;
}