body{
  background-color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
} 
#container{
  width:50vw;
  height:90vh;
  text-align: center;
  display:block;
  margin:auto;
  /* border:1px solid black; */
}
#desc_title{
  font-size:min(4vw,36px);
  margin-top:min(20px,2vw);
  margin-bottom:min(8px,1vw);
  margin-left:auto;
  margin-right:auto;
  color:#232323;
}
#spriteId{
  font-size:min(2.75vw,24px);
  color:#898989;
  margin-top:0.5vw;
  margin-bottom:1vw;
}
#sprite-image{
  width: min(40vw,460px);
  height: min(40vw, 460px);
  margin-bottom: 10px;
  border:2px solid black;
}
::placeholder{
  color: #ababab;
}
#annotation{
  /* width:max(190px,40vw);
  height:min(32px,4vw);
  font-size:min(18px,4vw); */

  /* width:min(530px,50em);
  height:min(24px,3em);
  font-size:min(20px,2.5em); */

  width:min(30vw,640px);
  height:min(3vw,24px);
  font-size:min(2.75vw,20px);
}

#color_opt{
  margin-left:2vw;
  margin-top:0.5em;
  /* font-size:min(3.5vw,42px); */
  font-size: min(2.75vw,20px);
}
#desc_opt{
  width:100%;
  margin:auto;
  color:#232323;
}
#idk_label{
  font-size:min(18px,2.25vw);
}
#submitButton{
  margin-top:min(2.5vw,30px);
  font-size:min(20px,3vw);
  width:min(128px,20vw);
  border-radius: 10px;
  background-color: #50cf7c;
}
#ex_text{
  font-size:min(16px,2vw);
  color:#9a9a9a;
  margin-top:10px;
}
#helpBtn{
  border-radius: 30px;
  background-color: #5fc7e3;
  font-size:min(18px,3vw);
  border:2px solid black;
  width:min(38px,5vw);
  height:min(30px,4vw);
  color:black;
  padding-top:min(8px,1vw);
  text-align:center;
  position:fixed;
  top:min(40px,3.vw);
  margin-left:min(50vw,75%);
  /* margin-left:80vw; */
  z-index: 3;
}
#helpBtn:hover{
  background-color: #4fa1b8;
  cursor:pointer;
}
#aboutPopUp{
  display:none;
  position:absolute;
  top:min(40px,3.6vw);
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  width:420px;
  height:620px;
  background-color:rgba(0,0,0,0.83);
  color:#fff;
}
.helpTxt{
  padding:10px;
  font-size:14px;
  font-family: monospace;
  border:1px solid white;
  margin:20px auto;
  width:80%;
}
.helpTxt a{
  color:#5fc7e3;
}
.prevent-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

