body{
  background-color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
} 
#container{
  width:500px;
  text-align: center;
  display:block;
  margin:auto;
  /* border:1px solid black; */
}
#desc_title{
  font-size:32px;
  margin-top:20px;
  margin-bottom:10px;
  color:#232323;
}
#spriteId{
  font-size:20px;
  color:#898989;
  margin-top:15px;
  margin-bottom:10px;
}
#sprite-image{
  width: 320px;
  height: 320px;
  margin-bottom: 10px;
  border:2px solid black;
}
::placeholder{
  color: #ababab;
}
#annotation{
  width:320px;
  height:32px;
  font-size:18px;
  margin-bottom:10px;
}
#desc_opt{
  margin-top:5px;
  width:500px;
  color:#232323;
}
#color_opt{
  margin-left:30px;
  font-size:16px;
}
label{
  font-size:16px;
}
#submitButton{
  margin-top:30px;
  font-size:18px;
  width:128px;
  border-radius: 10px;
  background-color: #50cf7c;
}
#ex_text{
  font-size:16px;
}