body{
  background-color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
} 
#container{
  width:500px;
  text-align: center;
  display:block;
  margin:auto;
  /* border:1px solid black; */
}
#desc_title{
  font-size:32px;
  margin-top:20px;
  margin-bottom:10px;
  color:#232323;
}
#spriteId{
  font-size:20px;
  color:#898989;
  margin-top:15px;
  margin-bottom:10px;
}
#sprite-image{
  width: 320px;
  height: 320px;
  margin-bottom: 10px;
  border:2px solid black;
}
::placeholder{
  color: #ababab;
}
#annotation{
  width:280px;
  height:32px;
  font-size:18px;
  margin-bottom:10px;
}
#desc_opt{
  margin-top:5px;
  width:500px;
  color:#232323;
}
#color_opt{
  margin-left:10px;
  font-size:16px;
}
label{
  font-size:16px;
}
#submitButton{
  margin-top:30px;
  font-size:18px;
  width:128px;
  border-radius: 10px;
  background-color: #50cf7c;
}
#ex_text{
  font-size:16px;
  color:#787878;
}
#helpBtn{
  border-radius: 30px;
  background-color: #5fc7e3;
  font-size:18px;
  border:2px solid black;
  width:38px;
  height:30px;
  color:black;
  padding-top:8px;
  text-align:center;
  position:fixed;
  top:15px;
  margin-left:475px;
  z-index: 3;
}
#helpBtn:hover{
  background-color: #4fa1b8;
  cursor:pointer;
}
#aboutPopUp{
  display:none;
  position:absolute;
  top:10px;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  width:420px;
  height:620px;
  background-color:rgba(0,0,0,0.83);
  color:#fff;
}
.helpTxt{
  padding:10px;
  font-size:14px;
  font-family: monospace;
  border:1px solid white;
  margin:20px auto;
  width:80%;
}
.helpTxt a{
  color:#5fc7e3;
}
.prevent-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

